@model Marketplace.Models.Toko
@{
    ViewData["Title"] = "Buat Toko";
}

<h2>Buat Toko Baru</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="NamaToko"></label>
        <input asp-for="NamaToko" class="form-control" />
        <span asp-validation-for="NamaToko" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Deskripsi" class="control-label"></label>
        <textarea asp-for="Deskripsi" class="form-control"></textarea>
        <span asp-validation-for="Deskripsi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Alamat"></label>
        <input asp-for="Alamat" class="form-control" />
        <span asp-validation-for="Alamat" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Simpan</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


